NEXT_PUBLIC_GOOGLE_PLAY_URL=https://play.google.com/store/apps/details?id=com.nofi.nofi_diary
NEXT_PUBLIC_CONTACT_EMAIL=
NEXT_PUBLIC_LEGAL_NAME=
NEXT_PUBLIC_LEGAL_CONTACT_DETAILS=
SITE_RELEASE_MODE=preview
